@import "tailwindcss";

@layer base {
  body {
    font-family: 'inconsolata', monospace;
  }

  .font-inconsolata-regular {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inconsolata-medium {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inconsolata-semibold {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inconsolata-bold {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inconsolata-extra-bold {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-jaturat-regular {
    font-family: 'Jaturat', 'sans-serif';
    font-weight: 400;
  }

  .font-jaturat-semibold {
    font-family: 'Jaturat', 'sans-serif';
    font-weight: 600;
  }

  .font-jaturat-bold {
    font-family: 'Jaturat', 'sans-serif';
    font-weight: 700;
  }

  .font-chakra-semibold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .font-chakra-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .font-chakra-semibold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .font-chakra-bold-italic {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white/5 backdrop-blur-none border-2 border-x-0 border-white/50 shadow-lg shadow-black/20
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: opacity 0.3s ease;
  }
  .slide-enter-from,
  .slide-leave-to {
    opacity: 0;
  }
}